<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{title}}</h1>
      <div class="book">
        <div id="slide" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {{#pageIndexes}}
            <div class="{{#.}}item{{/.}}{{^.}}item active{{/.}}">
              <img src="/book/{{uuid}}/{{.}}">
            </div>
            {{/pageIndexes}}
          </div>
          <a class="left carousel-control" href="#slide" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#slide" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
      <ul class="pager">
        <li><a href="/">Back</a></li>
      </ul>
    </div>
    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script>
      $('.carousel').carousel({
        interval: 60000,
        wrap: false
      });
    </script>
    <script src="/assets/js/fomalhaut.min.js"></script>
  </body>
</html>
