<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="container">
      <h1>{{title}}</h1>
      <div class="bs-example">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            {{#pageIndexes}}
            <li data-target="#carousel-example-generic" data-slide-to="{{.}}" {{#.}}{{/.}}{{^.}}class="active"{{/.}}></li>
            {{/pageIndexes}}
          </ol>
          <div class="carousel-inner">
            {{#pageIndexes}}
            <div class="{{#.}}item{{/.}}{{^.}}item active{{/.}}">
              <img src="/book/{{uuid}}/{{.}}">
            </div>
            {{/pageIndexes}}
          </div>
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script>
      $('.carousel').carousel({
        interval: 60000,
        wrap: false
      });
    </script>
  </body>
</html>
